ONEMAP_EMAIL=
ONEMAP_EMAIL_PASSWORD=
ONEMAP_TOKEN=
GOOGLE_API_KEY=
SUPABASE_URL=
SUPABASE_KEY=
JINA_AI=
R2_ACCOUNT_ID=your_account_id
R2_ACCESS_KEY_ID=your_key
R2_SECRET_ACCESS_KEY=your_secret
R2_BUCKET=egg-bacon-housing-data
R2_ENDPOINT=https://<account_id>.r2.cloudflarestorage.com
